<!DOCTYPE html>
<html>

<head> 
<title> This is Mickey's website title!!! </title>
<link rel ="stylesheet" href ="{{url_for('static', filename = 'css/maincss.css')}}">
</head>


<body>
<header>

<div class = "container">
<h1 class= "logo"> Mickey's web page </h1>
<strong><nav>

<u1 class = "menu">
<li><a href="{{ url_for('home') }}">content </a></li>
<li><a href ="{{url_for('About') }}">About</a></li>
</ul>
</nav></strong>

</div>
</header>

<div class = "container">
 {%block content%}
 {%endblock%}
</div>
</body>
</html>

